@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;

}
body{
      font-family: "Oswald", sans-serif;

}



/* ##############################utility classes ################################################# */
.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.btn{
    display: inline-block;
    /* margin-top: 5px; */
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: font-size 0.4s ease-in-out;
}
.btn-primary{
    
    background: #16a083;
}
.btn:hover{
    font-size: 2.2rem;

}
/* #############navbarstyling########################### */
/* for desktop  */
.navbar input[type ='checkbox'],
.hamburger-lines{
    display: none;
}
.menu-items li ,
.logo{
    font-size: 16px;
}
.logo{
    order: 1;
    font-size: 4rem;
    font-weight: 800;
}
.menu-items{
    display: flex;
    order: 2;
}
.menu-items li {
    color: black;
    list-style: none;
    margin: 1.5rem;
    text-decoration: none;
    font-size: 1.6rem;

}
.menu-items li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.navbar li a:hover{
    color: green;
    font-size: 2rem;
}
.navbar {
box-shadow:  0px 5px 10px 0px #aaa;
position: fixed;
width: 100%;
background-color: #fff;
opacity: 0.85;
z-index: 5;
left:0%
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
/* ######################################SHOWCASE STYLING############################# */
#showcase{
    
    height: 50vh;
    display: flex;
    background : linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)), url(img/header-image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase-text{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 margin: auto;

}

.showcase-text h1{
    font-size: 2rem;
margin-bottom: 5px;
font-weight: 600;}
.showcase-text h3{
margin-bottom: 5px;
}
.showcase .menu-button {
    background: greenyellow ;
    font-size: 2rem;
    color: #fff ;
    border-radius:20px ;
    padding: 7px 20px;
    text-decoration: none;
    margin: 10px auto;
    display: block;
    width: 30%;
    transition: all 0.5s ease-in-out;
}
.showcase  .menu-button:hover{
    padding:  0 10px ;
    margin: 12px auto;
    font-size: 2.5rem;
}
/* ####################ABOUT####################################################################### */
#about-section{
    background-color: #f5f5f7;
    width: 100%;
    padding: 50px 0px;
}
 .about-container{
    display: flex;
     width: 80%;
    height: 100%; 
    
    flex-wrap: wrap;
}
.about-img{
    
    /* width: 50%;
    height: 100%;
    right: 0; */
    flex: 1 1 400px;
    padding: 30px;
}
.about-img img{
    height: 400px;
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
    margin: auto;
    transform: translateX(150%);
    animation: aboutimg-animation 0.8s  forwards ease-in-out;
}
@keyframes aboutimg-animation{
    100%
{ transform: translate(0);}

}
.about-text{
    height:100%;
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: abouttext-animation 0.8s forwards ease-in-out;

} 
@keyframes abouttext-animation{
    100%
{ transform: translate(0);}

}
.about-text h3{
 color: #666;
 font-size: 1.2rem;
}
.about-text p{
    color: #555;
    font-size: 1.6rem;
}
.about-text h1{
   font-size: 3rem;
}

/* ##################################food type ################################################################ */
#food{
    padding: 5rem 0 10rem 0;
}
#food h1{
    font-size: 3rem;
    margin-bottom: 40px;
    color: #555;
    text-align: center;
    font-weight: 700;
}
.food-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* .fruits, .grains , .vedgetables{
    width: 30%;
} */
.food-container img{
    display: block;
    width: 100%;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
    object-position: center;
}
.img-container{
    margin: 0 1rem;
    position: relative;
    
}
.img-content {
    position: absolute;
    transform: translate(-50,-50);
    top:70%;
    left:38%;
    opacity:0;
    z-index:2;
    text-align: center;
    transition: all 0.9s ease-in-out;
}
.img-content h2{
    color: #fff;
    font-size: 1.6rem;}
.img-container::after{
    content: "hi";
    z-index: 1;
    opacity: 0;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.816);
    width: 100%;
    position: absolute;
    height: 100%;
    transition: all 0.9s ease-in-out;
    display: block;
    transform: scaleY(0);
    transform-origin: 100% 100%;

    }

.img-container:hover::after{
       opacity: 0.75;
       transform: scaleY(1);
    }
.img-container:hover .img-content{
    opacity: 1;
    top: 30%;
}

/* #########################################################FOOD MENU########################################################################### */
.foodmenu-heading{
    font-size: 3rem;
    margin-bottom: 40px;
    color: #555;
    text-align: center;
    font-weight: 700;
    transition: font-size 0.3s ease-in-out;

}



.foodmenu-item{
    display: flex;
    margin-top: 5px;
    flex: 1 1 48%; 
    box-sizing: border-box;
    min-width: 300px;
    justify-content: space-evenly;

    


}
.foodmenu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px 30px 0px;}
    .foodmenu-container {
    gap: 20px; /* space between items */
    justify-content: space-between;
    
}
.food-image img {
    border-radius: 200px;
    height: 250px;
    display: block;
    object-fit: cover;
    object-position: right;
    /* margin: auto; */
    width: 250px;
    transition: all 0.3s ease-in-out;
}
 .food-image:hover img{
    height: 300px;
    width: 300px;
 }
.food-description{
    margin: auto;
    padding-left: 1.5rem;

    
}  
.food-description p{
    font-size: 1.3rem;
    font-weight: 600;
    color: #666;
}
.food-description h2{
    color: #555;
    font-weight: 600;
}
.food-description .food-price{
    color: #117964;
    font-weight: 700;
}
/* ###########################################REVIEW-CONATINER##################################### */
 #testimonials{
    background: rgb(243, 243, 243);
    padding: 5rem 0;
 }
.testimonial-heading{
    color: #555;
    margin: auto;
    text-align: center;
    font-size: 3rem;
}


.review-container{
    display: flex;
    margin: auto; 
    justify-content: space-between;
    gap: 10px;
    text-align: center;
    margin-top: 15px;
    font-size: 1.6rem;
    padding: 1rem}
.review-container .customer-img{
    object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display:block;
    margin: auto;
    transition: all 0.3s ease-in-out;
}
/* .customer-img:hover{
    width: 150px;
    height: 150px;
    border-radius: 60%;
} */

.review-container .checked{
    color: #ff9529;
}
 .review{
    transition: all 0.3s ease-in-out;
}
.review:hover{
    /* width: 100%; */
    
     transform: scale(1.05); /* Slight zoom out effect */
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); /* Optional: give a nice lift */
    cursor: pointer;
}
/* ###############################CONTACT############################### */
#contact{
    padding: 5rem 0;
    background: rgb(246, 246, 246);
}
.contact-container{
    display: flex;
    background: #fff;
    animation: slideFade 1s ease-out forwards;
}
.contact-img{
    width: 50%;
}
.contact-img img{
    display: block;
    height: 400px;
    object-fit: cover;
    object-position: center ;
    width: 100%;
}
.contact-form{
    padding: 2rem  1rem;
     margin: 0 auto;
     width: 50%;
}
.contact-form input,textarea{
    display: block;
    /* margin-top: 15px; */
    border: none;
    border-bottom: 1px  solid #555;
    width: 100%;
    padding: 1rem 0;
    box-shadow: none;
    margin-bottom: 1rem;
    color: #444;
}
.contact-form h2{
    color: #555;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.contact-form a{
    font-size: 1.7rem;
}


@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ########################################FOOTER############################# */
#footer h2{
    font-size: 2rem;
    color: #fff;
    padding: 2rem ;
    text-align: center;
    background: rgb(65, 65, 65);
}

/* #####################MEDIA QUERIES############################################### */
@media (max-width:786px){
    .navbar{
        opacity: 0.95;
    }
    .navbar input[type='checkbox'],
    .navbar .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar input[type='checkbox']{
        position: absolute;
        display: block;
        top: 7px;
        left:8px;
        z-index:5 ;
        opacity: 0;
        height: 40px;
        width: 35px;

    }
    .navbar .hamburger-lines{
         position: absolute;
        display: block;
        top: 10px;
        left:10px;
        z-index:2 ;
        height: 32px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar .hamburger-lines .line{
        display: block;
        border-radius: 10px;
        width: 100%;
        height: 4px;
        background: black;
    }
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line2{
        
        transition: transform 0.4s ease-in-out;
    }
    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }
    .navbar .menu-items{
        padding-top : 80px;
        background: #fff;
        height: 100vh;
        max-width: 150px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        padding-left: 50px;
        margin-left: -60px;
        transition: transform 0.3s ease-in-out;
        box-shadow: 5px 0px 10px #aaa;
        top:0;
    }
    

    .navbar-container .logo{
         position: absolute;
         top: -25px;
         right: 15px;
}
    .navbar-container .menu-items li{
        font-size: 2rem;
        margin-bottom: 10px;

    }
    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        display: none;
    }
    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

    .food-image img {
    border-radius: 200px;
    height: 250px;
    display: block;
    object-fit: cover;
    object-position: right;
    width: 250px;
}


}

@media (max-width:500px) {
    html{
        font-size: 50%;
    }

    .foodmenu-item{
        flex-direction: column;
        margin: auto;
        align-items: center;
        text-align: center;
    }
    .foodmenu-item .foo-image{
        margin: auto;
        width: 100px;
        height: 100px;
    }
    .review-container {
        flex-direction: column;
        text-align: center;
    }
    .review{
        margin-top: 5px;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
    }
    .contact-form{
        width: 90%;
    }.contact-img{
        width:90%;
        margin: auto;
        
    }
}
@media ( orientation: landscape) and (max-height:500px) {
    #showcase{
        height: 50vmax;
    }
}