@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*::after,
*::before{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html{
    font-size: 62.5%;

}
body{
      font-family: "Oswald", sans-serif;

}
/* ##############################utility classes ################################################# */
.container{
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
.btn{
    display: inline-block;
    /* margin-top: 5px; */
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: font-size 0.4s ease-in-out;
}
.btn-primary{
    
    background: #16a083;
}
.btn:hover{
    font-size: 2.2rem;

}
/* #############navbarstyling########################### */
/* for desktop  */
.navbar input[type ='checkbox'],
.hamburger-lines{
    display: none;
}
.menu-items li ,
.logo{
    font-size: 16px;
}
.logo{
    order: 1;
    font-size: 4rem;
    font-weight: 800;
}
.menu-items{
    display: flex;
    order: 2;
}
.menu-items li {
    color: black;
    list-style: none;
    margin: 1.5rem;
    text-decoration: none;
    font-size: 1.6rem;

}
.menu-items li a{
    text-decoration: none;
    color: black;
    transition: all 0.3s ease-in-out;
}
.navbar li a:hover{
    color: green;
    font-size: 2rem;
}
.navbar {
box-shadow:  0px 5px 10px 0px #aaa;
position: fixed;
width: 100%;
background-color: #fff;
opacity: 0.85;
z-index: 5;
left:0%
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
/* ######################################SHOWCASE STYLING############################# */
#showcase{
    
    height: 50vh;
    display: flex;
    background : linear-gradient(rgba(240,240,240,0.144),rgba(255,255,255,0.336)), url(img/header-image2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.showcase-text{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 margin: auto;

}

.showcase-text h1{
    font-size: 2rem;
margin-bottom: 5px;
font-weight: 600;}
.showcase-text h3{
margin-bottom: 5px;
}
.showcase .menu-button {
    background: greenyellow ;
    font-size: 2rem;
    color: #fff ;
    border-radius:20px ;
    padding: 7px 20px;
    text-decoration: none;
    margin: 10px auto;
    display: block;
    width: 30%;
    transition: all 0.5s ease-in-out;
}
.showcase  .menu-button:hover{
    padding:  0 10px ;
    margin: 12px auto;
    font-size: 2.5rem;
}
/* ####################ABOUT####################################################################### */
#about-section{
    background-color: #f5f5f7;
    width: 100%;
    padding: 50px 0px;
}
 .about-container{
    display: flex;
     width: 80%;
    height: 100%; 
    
    flex-wrap: wrap;
}
.about-img{
    
    /* width: 50%;
    height: 100%;
    right: 0; */
    flex: 1 1 400px;
    padding: 30px;
}
.about-img img{
    height: 400px;
    display: block;
    max-width: 100%;
    object-fit: cover;
    object-position: right;
    margin: auto;
    transform: translateX(150%);
    animation: aboutimg-animation 0.8s  forwards ease-in-out;
}
@keyframes aboutimg-animation{
    100%
{ transform: translate(0);}

}
.about-text{
    height:100%;
    flex: 1 1 400px;
    padding: 30px;
    margin: auto;
    transform: translateX(-150%);
    animation: abouttext-animation 0.8s forwards ease-in-out;

} 
@keyframes abouttext-animation{
    100%
{ transform: translate(0);}

}
.about-text h3{
 color: #666;
 font-size: 1.2rem;
}
.about-text p{
    color: #555;
    font-size: 1.6rem;
}
.about-text h1{
   font-size: 3rem;
}

/* ##################################food type ################################################################ */
.food-container{
    
}